.body {
    background-color: #339966;
}


.nav-icon {
    width: 30px;
    height: 30px;
}


div#bottomNav.row {
    position: sticky;
    background-color: #5FA281;
}

.navItem {
    padding: 15px;
    margin: 0px;
}

div.active {
    background-color: rgba(56, 56, 56, 0.31);
}

p.store-name-text {
    font-size: 2.5em;
}

.background-shadow {
    position: fixed;
    z-index: -2;
    bottom: 70px;
    left: -35px;
    width: 120vw;
}





.navbar {
    border: none;
}

/*page2*/
.favpage {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #5FA281;
}

.fav-img {
    
    width:200px;
    height:200px;
    padding-top:10px;
    padding-left:20px;
}

.fav-p {
    float: left;
    width: 100px;
    height: 100px;


}

.p1 {
    margin-left: 10px;
    padding-top: 3px;
}

    .p1 h4 {
        margin: 0px;
        
    }

    .p1 p {
        margin-top: 1px;

    }

#con {
    margin-top: 20px;
    
}

#con1 {
    margin-top: 30px;
}

.border {
    height: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.border1 {
    margin-left: 30px;
    width: 10%;
    border: 1px solid #5FA281;
}



